/*colores principales*/
:root{
    --primario:#700000;
    --fondo:#ffedd8;
    --texto:#B22222;
    --nav: #f67474;
    --p: #790202;
    --colombia: #ffdd00;
    
}

*{box-sizing: border-box;
    margin:0;
    padding:0;
    
}
/*Cuerpo de la pagina*/

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: var(--fondo);
    color: var(--texto);
}

header{
    background: var(--primario);
    color:var(--fondo);
    text-align: center;
    padding: 30px;

/*texto 1 de la cabecera*/

}
header h1{
    font-size: 2.2rem;
}

/*texto 2 de la cabecera*/

header h2{
    margin-bottom: 10px;
}

/*navegacion de la pagina*/
nav{
    background: var(--primario);


}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 25px;
    padding: 10px;
    flex-wrap: wrap;
}

nav a{
    color:var(--fondo);
    text-decoration: none;
    font-weight: bold;
    padding: 8px 14px;
    transition: 0.3s;
}

nav a:hover{
    background: var(--nav);
    border-radius: 6px;
}
/* contenedor principal */
main{
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

/* secciones */
section{
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 12px rgba(0,0,0,.1);

}

#titulo-inicio{
      text-align: center;
    
}

p

h2{
    color: var(--texto);
    margin-bottom: 10px;
}

h3{
    color: var(--colombia);
    margin-bottom: 10px;
}

aside{
     background: #fff7ed;
    padding: 15px;
    border-left: 6px solid rgb(234, 103, 80);
    margin-bottom: 20px;
}
 
p{
    color: var(--p);
    text-align: justify;

}

hr{
    background:transparent;
    border-top: #fff7ed;

}
/*imagenes*/

img{
    max-width: 100%;
    border-radius: 8px;
    display: block;
    margin: auto;
}

/* footer */
footer{
    background: var(--primario);
    color: rgb(89, 3, 3);;
    text-align: center;
    padding: 20px;
}

footer p{
    color: var(--colombia);
     text-align: center;

    
}

footer a{
    color: var(--colombia);

}

footer a:hover{
    background: var(--nav);
    border-radius: 6px;
}

#volver-inicio{
   
    text-align: center;
    
}

#volver-inicio a:hover{
    background: var(--nav);
    border-radius: 6px;
}

@media(max-width:760px){
    nav ul{
        flex-direction: column;
        align-items: center;
    }
}